baseUrl: /
languageCode: en-us
theme: terminal
paginate: 5

# EXTRA START
defaultContentLanguage: en
title: Adham Elmosalamy's Blog
theme: terminal
# googleAnalytics: UA-123456789-1
disqusShortname: elmosalamy
# enableGitInfo: true
enableEmoji: true

taxonomies:
  tag: tags

permalinks:
  post: /:filename/

# EXTRA END

params:
  # dir name of your blog content (default is `content/posts`)
  contentTypeName: posts
  # ["orange", "blue", "red", "green", "pink"]
  themeColor: orange
  # if you set this to 0, only submenu trigger will be visible
  showMenuItems: 3
  # show selector to switch language
  showLanguageSelector: false
  # set theme to full screen width
  fullWidthTheme: false
  # center theme with default width
  centerTheme: false

languages:
  en:
    languageName: English
    title: Your site title
    subtitle: Your site subtitle
    keywords: ''
    menuMore: Show more
    readMore: Read more
    readOtherPosts: Read other posts

    params:
      logo:
        logoText: Terminal
        logoHomeLink: /

    menu:
      main:
      - identifier: about
        name: About
        url: /about
      - identifier: showcase
        name: Showcase
        url: /showcase